<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="im430.xmas.dao.gift.GiftDAO">
    <insert id="addGift" parameterType="Gift"
            useGeneratedKeys="true" keyProperty="id">
        insert into gift(description, child_id) values (#{description}, #{child.id})
    </insert>
    <update id="updateGift" parameterType="Gift">
        update gift set description=#{description} where id=#{id}
    </update>
    <delete id="removeGift" parameterType="Gift">
        delete from gift where id=#{id}
    </delete>
    <select id="getAllGifts" resultType="Gift">
        select id, description, child_id from gift order by id
    </select>
    <select id="getGiftById" resultType="Gift"
            parameterType="int">
        select id, description from gift where id=#{id}
    </select>
    <select id="getAllGiftsByChildId" resultType="Gift" parameterType="int">
        select id, description from gift where child_id=#{id}
    </select>
</mapper>